
body {
    background: linear-gradient(135deg, #212020, #320260);
    font-family: Arial, sans-serif;
    padding: 2px;
}

.Headings {
    display: flex;          /* turns it into flex container */
    flex-direction: column; /* stack items vertically */
    align-items: center;    /* center horizontally */
    gap: 3px;              /* space between items */
}

h1 {
    font-size: 30px;
    color: white;
}

h2,h3{
    font-size: 20px;
    color: white;
}

button{
    padding: 6px 12px;
    margin: 10px;
    font-size: 16px;
    border: 0cap;
    border-radius: 8px;
    background-color: blueviolet;
    color: aliceblue;
}

.resultCard {
    margin: 20px auto; 
    /* 40px space from top/bottom, auto centers horizontally */

    width: 260px; 
    /* fixed card width */

    background: #111; 
    /* dark background for card */

    padding: 20px; 
    /* space inside the card */

    border-radius: 15px; 
    /* rounded corners */

    text-align: center; 
    /* center all text inside the card */

    box-shadow: 0 10px 25px rgba(0,0,0,0.5); 
    /* soft shadow to make card look elevated */
}

.resultCard img {
    width: 100%; 
    /* image takes full width of the card */

    border-radius: 10px; 
    /* rounded corners for image */

    margin-bottom: 15px; 
    /* space below the image */
}

.resultCard h2 {
    font-size: 20px; 
    /* song title size */

    margin: 10px 0 5px; 
    /* top:10px, left/right:0, bottom:5px */
}

.resultCard h4 {
    font-size: 14px; 
    /* smaller text for mood */

    color: #bbb; 
    /* light grey color */

    margin-bottom: 10px; 
    /* space below mood text */
}

audio {
    width: 100%; 
    /* audio player stretches across card */

    margin-top: 10px; 
    /* space above audio player */
}
